@import 'mixins';

html,
body {
  height: 100%;
}

body {
  @include noselect;
  background: rgb(255, 255, 255);
  color: $gray-color;
  display: table;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  width: 100%;
  @include font-smoothing(antialiased);
}

.box {
  display: none;
  text-align: center;
  vertical-align: middle;

  &__content {
    display: inline-block;
    text-align: center;
  }

  &__title {
    font-size: 6em;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
  }

  &__title:hover {
    transition: all $transition-duration;
  }

  img {
    border-radius: 100%;
    height: 256px;
    width: 256px;
  }
}

a {
  color: $black-color;
  font-weight: 300;
  text-decoration: dotted;

  &.button {
    display: inline-block;
    font-weight: 100;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    text-decoration: none;
    width: 150px;

    &:hover {
      width: 200px;
    }
  }
}

.button-primary {
  @include gradient(rgb(82, 237, 199), rgb(90, 200, 251));
  border: 0;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  transition: all $transition-duration;
}

.fader {
  @include fadein(2s);
  display: table-cell;
}

.footer {
  bottom: 10px;
  height: $social-icon-size;
  padding: 10px 0 10px 10px;
  position: absolute;
  right: 10px;
  text-align: right;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    border-radius: 4px;
    display: inline-block;
    line-height: $social-icon-size;
    list-style: none;
    margin-right: 10px;
    text-align: center;

  }

  .twitter:hover {
    background-color: rgb(85, 172, 238);
  }

  .facebook:hover {
    background-color: rgb(59, 89, 152);
  }

  .behance:hover {
    background-color: rgb(23, 105, 255);
  }

  .dribbble:hover {
    background-color: rgb(234, 76, 137);
  }

  .share {
    background-color: $gray-color;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 22px;
    height: $social-icon-size;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: background $transition-duration;
    width: $social-icon-size;
  }
}
