html,
body {
  height: 100%; }

body {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                         not supported by any browser */
  background: white;
  color: #c8c8c8;
  display: table;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.box {
  display: none;
  text-align: center;
  vertical-align: middle; }
  .box__content {
    display: inline-block;
    text-align: center; }
  .box__title {
    font-size: 6em;
    font-weight: 100;
    font-family: 'Lato', sans-serif; }
  .box__title:hover {
    transition: all 0.7s; }
  .box img {
    border-radius: 100%;
    height: 256px;
    width: 256px; }

a {
  color: black;
  font-weight: 300;
  text-decoration: dotted; }
  a.button {
    display: inline-block;
    font-weight: 100;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    text-decoration: none;
    width: 150px; }
    a.button:hover {
      width: 200px; }

.button-primary {
  /* fallback/image non-cover color */
  background-color: #52edc7;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(#52edc7, #5ac8fb);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52edc7), to(#5ac8fb));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(#52edc7, #5ac8fb);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(#52edc7, #5ac8fb);
  border: 0;
  border-radius: 25px;
  color: white;
  font-size: 1rem;
  transition: all 0.7s; }

.fader {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
  /* Firefox < 16 */
  /* Safari, Chrome and Opera > 12.1 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  display: table-cell; }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.footer {
  bottom: 10px;
  height: 48px;
  padding: 10px 0 10px 10px;
  position: absolute;
  right: 10px;
  text-align: right; }
  .footer ul {
    margin: 0;
    padding: 0; }
  .footer li {
    border-radius: 4px;
    display: inline-block;
    line-height: 48px;
    list-style: none;
    margin-right: 10px;
    text-align: center; }
  .footer .twitter:hover {
    background-color: #55acee; }
  .footer .facebook:hover {
    background-color: #3b5998; }
  .footer .behance:hover {
    background-color: #1769ff; }
  .footer .dribbble:hover {
    background-color: #ea4c89; }
  .footer .share {
    background-color: #c8c8c8;
    border-radius: 3px;
    color: white;
    display: block;
    font-size: 22px;
    height: 48px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: background 0.7s;
    width: 48px; }

/*# sourceMappingURL=app.css.map */
